<!---->
<header>
  <nav>
    <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a>
    <a href="/about" class="<%= currentPage === 'about' ? 'active' : '' %>">About</a>
    <a href="/events" class="<%= currentPage === 'events' ? 'active' : '' %>">Events</a>
    <a href="/contact" class="<%= currentPage === 'contact' ? 'active' : '' %>">Contact</a>
  </nav>
</header>