<!-- pages\404.ejs -->
<!-- Include Header -->
<%- include('../partials/header.ejs') %>
<body>
  <h1 class="title"><%= message %></h1>
</body>
</html>

<!-- Include Footer -->
<%- include('../partials/footer.ejs') %>