<!-- pages\thankyou.ejs -->
<!-- Include Header -->
<%- include('../partials/header.ejs') %>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title" style="color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Thank You!</h1>
      <h2 class="subtitle" style="color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">We appreciate your message!</h2>
      <div class="notification">
        <p>We have received your message:</p>
        <blockquote>
          <%= message %>
        </blockquote>
        <p>We will contact you at <%= email %> shortly.</p>
      </div>
    </div>
  </section>
</body>
</html>

<!-- Include Footer -->
<%- include('../partials/footer.ejs') %>